{% extends "base.html" %}
{% block h1 %}
  {% if not publications %}
    City News
  {% else %}
    Your news
  {% endif %}
{% endblock %}
{% block content %}

  <table class="table table-striped">
    <tr>
      <th> Title </th>
      <th> Synopsis </th>
      {% if not publications %}
        <th> Writer </th>
      {% endif %}
      <th> Created </th>
      {% if not publications %}
        <th> When </th>
      {% endif %}
      <th></th>
    </tr>
    {% for article in object_list %}
      <tr>
        <td> {{ article.title }} </td>
        <td class="small">
          {{ article.synopsis | truncatechars:200 }} 
        </td>
        {% if not publications %}
          <td class="small">
            <div class="badge bg-warning text-dark text-wrap">
            {{ article.author }} 
            </div>
          </td>
        {% endif %}
          <td class="small">
         {{ article.created }} </td>
        {% if not publications %}
          <td class="small">
           {{ article.duration }} </td>
        {% endif %}
          <td class="small">
          <button class = "btn btn-dark btn-sm" onclick="window.location='{% url 'article-detail' article.id %}'">READ</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">
          No articles yet.
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
