{% extends "base.html" %}
{% block h1 %}{{ object.title }}{% endblock %}
{% block content %}
<p><strong>synopsis: </strong></p>
<p><em>{{ object.synopsis }}</em></p>
<p><strong>content: </strong></p>
<p>{{ object.content }}</p>
<hr/>
<p><strong> Author: </strong> {{ object.author }}</p>
<p><strong>Created:</strong> {{ object.created|date }}</p>
{% if user.is_authenticated %}
    <form action="{% url 'add-to-favorite' %}?next=/" method="post">
      {% csrf_token %}
      <input type="hidden" name="article" value="{{ object.id }}"/>
      <input type="hidden" name="user" value="{{ user.id }}"/>
      <input type="submit" name="signup" value="Add to favorite">
    </form>
{% endif %}
{% endblock %}
