{% extends "base.html" %}
{% block h1 %}{{ object.title }}{% endblock %}
{% block content %}
    <style>
      #name {
          color: gray;
      }
      #name_login {
          color: red;
      }
      label {
          display: block;
      }
      table.bordered { width:100% }
      table.bordered,
      table.bordered td,
      table.bordered th {
          padding: 1rem;
          border-bottom: 1px solid #ccc;
          border-collapse: collapse;
      }
      .section {
        margin: 1rem;
      }
      #chat-message-input { width: 300px; display: inline-block; }
      #chat-message-submit {  display: inline-block; }
      #chat-log {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr;
          list-style-type: none;
          font-size: 1.2rem;
          border: 1px solid #ccc;
          box-sizing: border-box;
          height: calc(80vh - 82px);
          margin: 0;
          padding: 0;
          overflow: auto;
      }
      .chat li:first-child {background: transparent; margin: 0; padding: 0;}
      .chat li { margin: 1rem; padding: 1rem; border-radius: 6px; background: #ddd; }
      .chat {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 5fr;
      }
      #active-users {
          font-weight: bold;
          color: green;
      }
    </style>
        {% if user.is_authenticated %}
            {% load static %}
            <div class="chat">
                <div class="users">
                    <p>Active users:</p>
                    <p id="active-users"></p>
                </div>
                <div class="chatlist">
                    <ul id="chat-log"><li></li></ul><br>
                    {{ user.username }}: 
                    <input id="chat-message-input" type="text" size="100">&nbsp;
                    <input id="chat-message-submit" type="button" value="Send">
                </div>
            </div>
            {{ object.id|json_script:"room-name" }}
            <script>
                const roomName = JSON.parse(document.getElementById('room-name').textContent);
                const chatSocket = new WebSocket(
                    'ws://'
                    + window.location.host
                    + '/ws/chat/'
                    + roomName
                    + '/'
                );
                let userSet = new Set();

                // on message
                chatSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    if (data.message_type !== 3) {
                        $('#chat-log').append(
                            $('<li>').append(data.message)
                        );
                        $("#chat-log").stop().animate({ scrollTop:
                                            $("#chat-log")[0].scrollHeight}, 1000);
                    }
                    if (data.message_type === 2) {
                        // delete user
                        userSet.delete(data.user_name);
                    } else {
                        // ping or open socket
                        console.log(data.user_name, ": ", data.message_type);
                        userSet.add(data.user_name);
                    }
                    let str = '';
                    userSet.forEach(function(user) {
                      str += user + '<br/>';
                    });
                    document.getElementById("active-users").innerHTML = str;
                };
                {% for msg in messages_out %}
                    $('#chat-log').append(
                        $('<li>').append('{{ msg.message }}')
                    );
                {% empty %}
                {% endfor %}
                $("#chat-log").stop().animate({ scrollTop: $("#chat-log")[0].scrollHeight}, 1000);

                // on close
                chatSocket.onclose = function(e) {
                    console.log('Chat socket closed unexpectedly');
                };

                $(window).bind('beforeunload', function(){
                    chatSocket.close();
                });

                document.querySelector('#chat-message-input').focus();
                document.querySelector('#chat-message-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#chat-message-submit').click();
                    }
                };

                document.querySelector('#chat-message-submit').onclick = function(e) {
                    const messageInputDom = document.querySelector('#chat-message-input');
                    const message = messageInputDom.value;
                    chatSocket.send(JSON.stringify({
                        'user_id': {{ user.id }},
                        'message_type': 0,
                        'message': '{{ user.username }}: ' + message
                    }));
                    messageInputDom.value = '';
                };

                // on open
                chatSocket.onopen = function (event) {
                    console.log('connection is open!')
                    chatSocket.send(JSON.stringify({
                        'user_id': {{ user.id }},
                        'message_type': 1,
                        'message': '{{ user.username }} has joined the chat'
                    }));
                    setInterval(() => {
                        chatSocket.send(JSON.stringify({
                            'user_id': {{ user.id }},
                            'message_type': 3,
                            'message': ''
                        }));
                    }, 2000);
                }
            </script>
        {% endif %}
{% endblock %}
