{% extends "base.html" %}
{% block h1 %}
    {{ object.title }}
{% endblock %}
{% block link_css %}
    {% load static %}
    <link href="{% static '/css/chat.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="chat">
            <div class="users">
                <p>Active users:</p>
                <p id="active-users"></p>
            </div>
            <div class="chatlist">
                <ul id="chat-log" class="shadow-sm p-3 mb-2 rounded"><li></li></ul>
                <div class="input-group shadow-sm">
                  <!-- <span class="input-group-text"> -->
                  <!--   {{ user.username }} -->
                  <!-- </span> -->
                  <input id="chat-message-input"type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button id="chat-message-submit" class="btn btn-warning" type="button" id="button-addon2">Send</button>
                </div>
            </div>
        </div>
        {% load static %}
        <script src="{% static '/js/chat.js' %}"></script>
        <script>
            let arr = [];
            {% for msg in messages_out %}
                arr.push('{{ msg.message }}');
            {% empty %}
            {% endfor %}
            appChat('{{ object.id }}', arr, {{ user.id }}, '{{ user.username }}');
        </script>
    {% endif %}
{% endblock %}
