<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>News</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {# Load the tag library #}
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
  <div class="wrap">
    {% include "nav.html" %}
    <section class="section">
        <h1> {% block h1 %} {% endblock %} </h1>
      {% block content %} {% endblock %}
    </section>
  </div>
  </body>
</html>
